version: "3.9"

services:
  web:
    build: .
    ports:
      - "8080:80"
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_NAME: quanlytuyendungabc
      DB_USER: root
      DB_PASS: example

  db:
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: quanlytuyendungabc
      MYSQL_ROOT_PASSWORD: example
    ports:
      - "3307:3306"
    volumes:
      - dbdata:/var/lib/mysql

volumes:
  dbdata:
